<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>start</key><integer>30</integer><key>recent_tea</key><array><dict><key>push_msg</key><string>MONO下午茶已准备好 | Nirokita：高考预备军与时装撰稿人，十八岁少女的正反面 | 伍迪·艾伦的电影哲学 | 《奥丽芙·基特里奇》 ：她厌恶一切形式化的社交规则</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/84876c09364deac2c9f345182ae68de8.jpg</string><key>intro</key><string>幸福的身躯在我双手中荡漾&#13;
在可爱的脸庞，我将世界观赏&#13;
漂亮的鸟儿在那里转瞬即逝&#13;
飞向不存在忘怀的地方</string><key>share_image</key><string>http://mmmono.qiniudn.com/84876c09364deac2c9f345182ae68de8.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106505</integer><key>kind</key><integer>2</integer><key>share_text</key><string></string><key>title</key><string>《融合》</string><key>release_date</key><string>2016-06-03</string><key>sub_title</key><string>阿莱桑德雷</string><key>read_time</key><string>约20分钟</string></dict><dict><key>push_msg</key><string>MONO早茶已准备好 | 一个集才华、美貌、同性恋标签于一身的青年天才导演 | 日本人对《西游记》的爱几乎让国人都汗颜 | 2016欧洲最佳旅行目的地榜单</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/faa4f5234c9c4109011aeb9ed4cb4855.jpg</string><key>intro</key><string>那个夜晚，我为什么觉得：&#13;
天空是夜的竖琴，星辰是绷断的琴弦？&#13;
是因为我独自入眠吗?</string><key>share_image</key><string>http://mmmono.qiniudn.com/faa4f5234c9c4109011aeb9ed4cb4855.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106506</integer><key>kind</key><integer>0</integer><key>share_text</key><string></string><key>title</key><string>《纪念朦胧与清晰的事物》</string><key>release_date</key><string>2016-06-03</string><key>sub_title</key><string>阿多尼斯</string><key>read_time</key><string>25分钟</string></dict><dict><key>push_msg</key><string>MONO下午茶已准备好 | 朽瞳：造一个恐怖帝国，既要疯狂也要清醒 | 她抽烟的样子实在太美，弄得我也想抽 | 因为女主播的加盟，东郊殡仪馆生意好过了八宝山</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/102bef9c5c3bc8a09b82f4339215eef9.jpg</string><key>intro</key><string>比大地更长的－－是海洋：波浪&#13;
时而奔向沙滩，像皱纹爬上额头&#13;
而长于波浪和大地的&#13;
唯有一连串的白昼&#13;
和夜晚</string><key>share_image</key><string>http://mmmono.qiniudn.com/102bef9c5c3bc8a09b82f4339215eef9.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106504</integer><key>kind</key><integer>2</integer><key>share_text</key><string></string><key>title</key><string>《鳕鱼角催眠曲》</string><key>release_date</key><string>2016-06-02</string><key>sub_title</key><string>布罗茨基</string><key>read_time</key><string>25分钟</string></dict><dict><key>push_msg</key><string>MONO早茶已准备好 | 如果我有任何负面的想法，我会告诉自己闭嘴 | 每年最棒的广告都集中在这了 | 全宇宙最美的花展，想象力永远没有边际</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/a40c569280284ca464302fa5c41e76af.jpg</string><key>intro</key><string>我们在一石桥边相遇&#13;
白桦树站着观望&#13;
溪流蜿蜒向海犹如一条闪光的鳗鱼&#13;
我们互相缠绕以创造上帝</string><key>share_image</key><string>http://mmmono.qiniudn.com/a40c569280284ca464302fa5c41e76af.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106503</integer><key>kind</key><integer>0</integer><key>share_text</key><string></string><key>title</key><string>《创造的夜》</string><key>release_date</key><string>2016-06-02</string><key>sub_title</key><string>马丁松</string><key>read_time</key><string>约25分钟</string></dict><dict><key>push_msg</key><string>MONO下午茶已准备好 | 胡晓江：超级宅男的漫画乌托邦 | 当我们信任的人，做了出乎我们意料的事 | 评世界文艺片女王，若她排第二没人敢坐第一 </string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/d426930ee535f7f9667b13e997342f99.jpg</string><key>intro</key><string>白昼不会睡眠&#13;
除非在夜晚的怀抱里&#13;
往昔是湖泊&#13;
其中只有一位泳者：记忆</string><key>share_image</key><string>http://mmmono.qiniudn.com/d426930ee535f7f9667b13e997342f99.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106502</integer><key>kind</key><integer>2</integer><key>share_text</key><string></string><key>title</key><string>《纪念朦胧与清晰的事物》</string><key>release_date</key><string>2016-06-01</string><key>sub_title</key><string>阿多尼斯</string><key>read_time</key><string>约25分钟</string></dict><dict><key>push_msg</key><string>MONO早茶已准备好 | 被困难与挫折击倒之后，我们该如何重新站起来？| 这些奇怪却又上瘾的动画片，你看过几部？| Qoo：暴露年龄也不管，只想怀旧</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/619bf0a49391ece45654ebf17268a3c5.jpg</string><key>intro</key><string>我咽下奔波，咽下流离失所&#13;
咽下人行天桥，咽下长满水锈的生活&#13;
我再咽不下了&#13;
所有我曾经咽下的现在都从喉咙汹涌而出&#13;
在祖国的领土上铺成一首，耻辱的诗</string><key>share_image</key><string>http://mmmono.qiniudn.com/619bf0a49391ece45654ebf17268a3c5.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106497</integer><key>kind</key><integer>0</integer><key>share_text</key><string></string><key>title</key><string>《我咽下一枚铁做的月亮……》</string><key>release_date</key><string>2016-06-01</string><key>sub_title</key><string>许立志</string><key>read_time</key><string>约25分钟</string></dict><dict><key>push_msg</key><string>MONO下午茶已准备好 | 木艮子：一个人的亚文化联盟 | 这一老一少，就把好莱坞色情业干翻了 | 你会为了筛选出真朋友，而“试探”友情吗？</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/1f4084d6797944ddcd2f44f5149886d5.jpg</string><key>intro</key><string>词的统治已有很多世纪&#13;
假如你是一名诗人&#13;
那么，你在这个世界上&#13;
就没有别的道路</string><key>share_image</key><string>http://mmmono.qiniudn.com/1f4084d6797944ddcd2f44f5149886d5.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106501</integer><key>kind</key><integer>2</integer><key>share_text</key><string></string><key>title</key><string>《词》</string><key>release_date</key><string>2016-05-31</string><key>sub_title</key><string>阿尔谢尼·塔尔科夫斯基</string><key>read_time</key><string>约20分钟</string></dict><dict><key>push_msg</key><string>MONO早茶已准备好 | 世界上的一切美好，用在这些书上都不为过 | 一部关于食物、呕吐以及恐惧的历史 | 手机成瘾：未来的我们会有多糟？  </string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/6601686d12fa68568104f97bb3dd3451.jpg</string><key>intro</key><string>昨夜逝去的关于你的记忆又回来了&#13;
我就像空空的原野，春天的时光&#13;
没有通知地，带来盛开的花朵</string><key>share_image</key><string>http://mmmono.qiniudn.com/6601686d12fa68568104f97bb3dd3451.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106500</integer><key>kind</key><integer>0</integer><key>share_text</key><string></string><key>title</key><string>《昨夜》</string><key>release_date</key><string>2016-05-31</string><key>sub_title</key><string>费兹·阿赫默德·费兹</string><key>read_time</key><string>约25分钟</string></dict><dict><key>push_msg</key><string>MONO下午茶已准备好 | 胡凌云：看守火把的档案馆馆长 | 原来我跟好好谈恋爱之间，只隔着一个夏天 | 从「大卫的丁丁」到「包皮文化史」</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/bbf71dc2ce238272e01bba73f160812a.jpg</string><key>intro</key><string>我好像在池塘的水底&#13;
从一个月亮&#13;
走向另一个月亮</string><key>share_image</key><string>http://mmmono.qiniudn.com/bbf71dc2ce238272e01bba73f160812a.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106499</integer><key>kind</key><integer>2</integer><key>share_text</key><string></string><key>title</key><string>《绿毛水怪》</string><key>release_date</key><string>2016-05-30</string><key>sub_title</key><string>王小波</string><key>read_time</key><string>25分钟</string></dict><dict><key>push_msg</key><string>MONO早茶已准备好 |  她用很黄很暴力的女同漫画，扇了全世界恐同症一耳光 | 婚姻制度与乌托邦的荒唐本质：《龙虾》| 中国造物：海鸥相机的半个世纪</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/c8217a9aeaf7c5807e8adc731f3aba34.jpg</string><key>intro</key><string>那从未走出你花园之地的你&#13;
你从未站在花格窗前眺望&#13;
渴望地观看黄昏在做梦的小径上&#13;
怎样变调成蓝色？</string><key>share_image</key><string>http://mmmono.qiniudn.com/c8217a9aeaf7c5807e8adc731f3aba34.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106496</integer><key>kind</key><integer>0</integer><key>share_text</key><string></string><key>title</key><string>《那从未走出你花园之地的你……》</string><key>release_date</key><string>2016-05-30</string><key>sub_title</key><string>德珊卡·马克西莫维奇</string><key>read_time</key><string>25分钟</string></dict><dict><key>push_msg</key><string>MONO下午茶已准备好 | 江湖遠人：在闹市中学一门死去的语言 | 迷幻蘑菇：从毒品到治疗抑郁症的 “良药” | 哪些日剧既好看，又能学到大量知识？</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/77dc3e51715f570c3520b78e65590e14.jpg</string><key>intro</key><string>繁忙的温度侵犯我&#13;
光亮和肌肤倒悬&#13;
你是一段肢解的流水&#13;
夜晚用你绞死我&#13;
清爽的图案燎伤我</string><key>share_image</key><string>http://mmmono.qiniudn.com/77dc3e51715f570c3520b78e65590e14.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106495</integer><key>kind</key><integer>2</integer><key>share_text</key><string></string><key>title</key><string>《星辰般的时刻》</string><key>release_date</key><string>2016-05-29</string><key>sub_title</key><string>张枣</string><key>read_time</key><string>约25分钟</string></dict><dict><key>push_msg</key><string>MONO早茶已准备好 | 离开伤害自己的人，比想象中更难 | 电话交友三十年 | 人类在动画中生活的「终极想象」：五彩天堂还是信息地狱？ |  雷州半岛：中国南端的遗珠之美</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/42cc683afd309e355175dddaa0a3c0c5.jpg</string><key>intro</key><string>我们想回家，像失眠的夜 &#13;
过后早上的思想&#13;
我们喜爱丰润的水果&#13;
鲜艳的鱼，在阴沈的海里多活跃&#13;
我们醉了，我们这就要回家</string><key>share_image</key><string>http://mmmono.qiniudn.com/42cc683afd309e355175dddaa0a3c0c5.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106494</integer><key>kind</key><integer>0</integer><key>share_text</key><string></string><key>title</key><string>《政治犯》</string><key>release_date</key><string>2016-05-29</string><key>sub_title</key><string>帕韦泽</string><key>read_time</key><string>约25分钟</string></dict><dict><key>push_msg</key><string>MONO下午茶已准备好 | 李冰：冒险交给身体，其余交给智慧 |  失去了多少个可能的我，才有了现在的我 | 奥斯卡最佳影片《聚焦》是怎么拍出来的？</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/b52970ecebd5030964d081097c4ea6c0.jpg</string><key>intro</key><string>那么你为何带着探询的目光凝视我的梦 &#13;
仿佛我可以给予你什么帮助&#13;
到海里去吧，让我留在我的旱地上&#13;
我们生来不是为了把彼此的日子混在一起</string><key>share_image</key><string>http://mmmono.qiniudn.com/b52970ecebd5030964d081097c4ea6c0.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106475</integer><key>kind</key><integer>2</integer><key>share_text</key><string></string><key>title</key><string>《鱼》</string><key>release_date</key><string>2016-05-28</string><key>sub_title</key><string>苏佩埃维尔</string><key>read_time</key><string>约25分钟</string></dict><dict><key>push_msg</key><string>MONO早茶已准备好 | 谷崎润一郎：阴翳之下的狂欢 | 关于改变了一代人阅读方式的Amazon Kindle | 除了昆汀，别忘了我们还有一位鬼才导演</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/830ee520622b9889ab453f3bf914d46c.jpg</string><key>intro</key><string>她们一致羞红着脸&#13;
她们将永葆年轻&#13;
她们不愿成熟&#13;
在这个新世界里&#13;
成熟算什么</string><key>share_image</key><string>http://mmmono.qiniudn.com/830ee520622b9889ab453f3bf914d46c.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106474</integer><key>kind</key><integer>0</integer><key>share_text</key><string></string><key>title</key><string>《梨形曲三段》</string><key>release_date</key><string>2016-05-28</string><key>sub_title</key><string>布伦达·希尔曼</string><key>read_time</key><string>约25分钟</string></dict><dict><key>push_msg</key><string>MONO下午茶已准备好 | 刘书宇：一个拒绝变成大人的废物 | 据说她是日本的张爱玲 | 这部美而不淫的电影，不止有鲜活的肉体 | 敦煌壁画中那些稀奇乐器究竟是什么</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/a5f16dc23994a576c6ce3e790378e42d.jpg</string><key>intro</key><string>黑夜盖上空虚的被褥&#13;
蓝色灯光睡着了&#13;
天色也围拢过来&#13;
你在淋漓的街道上&#13;
找不到一个终点</string><key>share_image</key><string>http://mmmono.qiniudn.com/a5f16dc23994a576c6ce3e790378e42d.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106489</integer><key>kind</key><integer>2</integer><key>share_text</key><string></string><key>title</key><string>《夜行》</string><key>release_date</key><string>2016-05-27</string><key>sub_title</key><string>梁秉钧</string><key>read_time</key><string>约20分钟</string></dict><dict><key>push_msg</key><string>MONO早茶已准备好 | 海德格尔：现代人的新病痛 | 最近全世界的人都在读什么 | 为什么旧书闻起来辣么棒？| 古典乐界的贝克汉姆，长得帅，手还快</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/5ce5aa9cd5fc2c898a822dcec92aacc1.jpg</string><key>intro</key><string>有些人避难于绝望&#13;
它甘美如强烈的菸草&#13;
如在虚无时喝醉的一杯伏特加&#13;
其他的抱着蠢人的希望&#13;
玫红如淫艳的梦</string><key>share_image</key><string>http://mmmono.qiniudn.com/5ce5aa9cd5fc2c898a822dcec92aacc1.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106470</integer><key>kind</key><integer>0</integer><key>share_text</key><string></string><key>title</key><string>《可怜的诗人》</string><key>release_date</key><string>2016-05-27</string><key>sub_title</key><string>米沃什</string><key>read_time</key><string>25分钟</string></dict><dict><key>push_msg</key><string>MONO下午茶已准备好 | “老流氓”，你竟然是这样的毕加索？ |  一份高颜值的「人兽恋」片单 | 在城市里，你如何区分欲望与爱情？| 神经科学最新成果，解释孤独的必然性</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/eb52c574239d7b53f3f70fef9cd9428b.jpg</string><key>intro</key><string>一种思想平静地展现&#13;
它无可挑剔，宛如一声叹息&#13;
它像海岬一样突入夜色&#13;
被月光从三面点亮</string><key>share_image</key><string>http://mmmono.qiniudn.com/eb52c574239d7b53f3f70fef9cd9428b.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106493</integer><key>kind</key><integer>2</integer><key>share_text</key><string></string><key>title</key><string>《曾经想过》</string><key>release_date</key><string>2016-05-26</string><key>sub_title</key><string>帕斯捷尔纳克</string><key>read_time</key><string>25分钟</string></dict><dict><key>push_msg</key><string>MONO早茶已准备好 | 他是世界上最会拍海的人，如今成了一家料理店主厨 | 从朴赞郁到阿莫多瓦：戛纳银幕女性的5种姿态 | 100人如何交换名片？</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/1500e0feeb2261273b8c262a01fa5725.jpg</string><key>intro</key><string>音乐的通宵达旦的力量&#13;
支撑着那群幽暗的躯体&#13;
他们聚合又离散&#13;
却始终在那条街上</string><key>share_image</key><string>http://mmmono.qiniudn.com/1500e0feeb2261273b8c262a01fa5725.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106492</integer><key>kind</key><integer>0</integer><key>share_text</key><string></string><key>title</key><string>《街头音乐》</string><key>release_date</key><string>2016-05-26</string><key>sub_title</key><string>吕德安</string><key>read_time</key><string>25分钟</string></dict><dict><key>push_msg</key><string>MONO下午茶已准备好 | 成长从来就不是一个安静平和的过程 | 安藤忠雄：创作即决斗 | 《纸牌屋》中运用了哪些莎士比亚元素？ | 红卫兵的派系是怎么形成的？</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/08f0cd9d068b9099ee7a43ba223e2d53.jpg</string><key>intro</key><string>宁静的海是银色的睡乡&#13;
睡着的波浪轻摇着自己&#13;
海面起伏只因为它叹息&#13;
它胸中的宁静一如死亡</string><key>share_image</key><string>http://mmmono.qiniudn.com/08f0cd9d068b9099ee7a43ba223e2d53.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106491</integer><key>kind</key><integer>2</integer><key>share_text</key><string></string><key>title</key><string>《悼念集》</string><key>release_date</key><string>2016-05-25</string><key>sub_title</key><string>丁尼生</string><key>read_time</key><string>约25分钟</string></dict><dict><key>push_msg</key><string>MONO早茶已准备好 | “无条件的爱”存在么？它到底是什么意思？ | 那些50年前毕业的作家们 | 《龙猫》其实是恐怖片？ | 姜文：见过狂的，没见过这么狂的</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/dd54992bfff2e4d91792e314d658bc85.jpg</string><key>intro</key><string>她正和我在一起。尽情地演奏&#13;
暴涨吧，以欢笑将暮色撕得粉碎&#13;
要淹没，要掠过一方碑文&#13;
向着与你雷同的爱情</string><key>share_image</key><string>http://mmmono.qiniudn.com/dd54992bfff2e4d91792e314d658bc85.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106490</integer><key>kind</key><integer>0</integer><key>share_text</key><string></string><key>title</key><string>《雨》</string><key>release_date</key><string>2016-05-25</string><key>sub_title</key><string>帕斯捷尔纳克</string><key>read_time</key><string>约25分钟</string></dict><dict><key>push_msg</key><string>MONO下午茶已准备好 | 被动型攻击人格：令人恼火的人格特质 | 青春期精神卫生小讲堂 | 东西方厕所的千年争霸赛 | 这一老一少，就把好莱坞色情业干翻了</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/8e9854581b2ffbd546723a445b36b212.jpg</string><key>intro</key><string>我满腹狐疑，取来一本书 &#13;
想叫它在我手边燃烧起来 &#13;
一个黑字母的灌木丛，一堵闪亮的护墙 &#13;
像冬青和冰一样锋厉</string><key>share_image</key><string>http://mmmono.qiniudn.com/8e9854581b2ffbd546723a445b36b212.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106486</integer><key>kind</key><integer>2</integer><key>share_text</key><string></string><key>title</key><string>《冬青》</string><key>release_date</key><string>2016-05-24</string><key>sub_title</key><string>谢默斯·希尼</string><key>read_time</key><string>约25分钟</string></dict><dict><key>push_msg</key><string>MONO早茶已准备好 | 一个残忍的事实是：大多数友谊都比较短暂 | 黑泽明的私人片单 | 这个“帮你种草的日本综艺”为你选出了12件文具</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/fe58fdf06f40b3045e98542ac88056af.jpg</string><key>intro</key><string>海草森林在清澈的水中闪耀&#13;
它们很年轻 我想移居那里&#13;
笔直躺在倒影中 沉到某个深度&#13;
海草用气泡托举着自己&#13;
如同我们用想法抬着自身</string><key>share_image</key><string>http://mmmono.qiniudn.com/fe58fdf06f40b3045e98542ac88056af.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106485</integer><key>kind</key><integer>0</integer><key>share_text</key><string></string><key>title</key><string>《波罗的海》</string><key>release_date</key><string>2016-05-24</string><key>sub_title</key><string>特朗斯特罗姆</string><key>read_time</key><string>25分钟</string></dict><dict><key>push_msg</key><string>MONO下午茶已准备好 | 我害怕你不再爱我了：爱情的“费希纳定律”  | 哪一部作品的情欲书写会比A片更严重？ | 时隔二十几年依旧坚挺，影史经典是这样炼成的</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/619bf0a49391ece45654ebf17268a3c5.jpg</string><key>intro</key><string>我咽下奔波，咽下流离失所&#13;
咽下人行天桥，咽下长满水锈的生活&#13;
我再咽不下了&#13;
所有我曾经咽下的现在都从喉咙汹涌而出&#13;
在祖国的领土上铺成一首，耻辱的诗</string><key>share_image</key><string>http://mmmono.qiniudn.com/619bf0a49391ece45654ebf17268a3c5.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106488</integer><key>kind</key><integer>2</integer><key>share_text</key><string></string><key>title</key><string>《我咽下一枚铁做的月亮……》</string><key>release_date</key><string>2016-05-23</string><key>sub_title</key><string>许立志</string><key>read_time</key><string>约25分钟</string></dict><dict><key>push_msg</key><string>MONO早茶已准备好 | 作家笔下别样的夏天 | 宫崎骏隐退后吉卜力出了部三国混血的动画 | 这可能是最文艺的情色网站 | 史上最牛经纪人，没有他，就没有美国流行音乐</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/faa4f5234c9c4109011aeb9ed4cb4855.jpg</string><key>intro</key><string>那个夜晚，我为什么觉得：&#13;
天空是夜的竖琴，星辰是绷断的琴弦？&#13;
是因为我独自入眠吗?</string><key>share_image</key><string>http://mmmono.qiniudn.com/faa4f5234c9c4109011aeb9ed4cb4855.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106487</integer><key>kind</key><integer>0</integer><key>share_text</key><string></string><key>title</key><string>《纪念朦胧与清晰的事物》</string><key>release_date</key><string>2016-05-23</string><key>sub_title</key><string>阿多尼斯</string><key>read_time</key><string>25分钟</string></dict><dict><key>push_msg</key><string>MONO下午茶已准备好 | 几分轻佻，些许慵懒：这些电影中抽烟的女人 | 赖声川：这是一个要教人怎么快乐，怎么笑的悲哀时代 | 丁香诊所的五个故事</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/b2162c92577ffeacd0132c06ad8b6904.jpg</string><key>intro</key><string>废墟之鸟使自己摆脱死亡&#13;
它在阳光下的灰石中筑巢&#13;
它超越了所有悲哀 所有记忆&#13;
它深知永恒中没有明天</string><key>share_image</key><string>http://mmmono.qiniudn.com/b2162c92577ffeacd0132c06ad8b6904.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106484</integer><key>kind</key><integer>2</integer><key>share_text</key><string></string><key>title</key><string>《废墟之鸟》</string><key>release_date</key><string>2016-05-22</string><key>sub_title</key><string>伊夫·博纳富瓦 </string><key>read_time</key><string>25分钟</string></dict><dict><key>push_msg</key><string>MONO早茶已准备好 | 抑郁对我们也有好处？ | 功夫电影里，为什么被打的总是外国人？ | 食物最辉煌的瞬间 | 《意外的幸运签》：漫长14岁的少年心事</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/b52970ecebd5030964d081097c4ea6c0.jpg</string><key>intro</key><string>那么你为何带着探询的目光凝视我的梦 &#13;
仿佛我可以给予你什么帮助&#13;
到海里去吧，让我留在我的旱地上&#13;
我们生来不是为了把彼此的日子混在一起</string><key>share_image</key><string>http://mmmono.qiniudn.com/b52970ecebd5030964d081097c4ea6c0.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106483</integer><key>kind</key><integer>0</integer><key>share_text</key><string></string><key>title</key><string>《鱼》</string><key>release_date</key><string>2016-05-22</string><key>sub_title</key><string>苏佩埃维尔</string><key>read_time</key><string>约25分钟</string></dict><dict><key>push_msg</key><string>MONO下午茶已准备好 | 2016日本“本屋大赏” 书单 | 跨性别者、变性人和同性恋：六十年代边缘群体禁忌史 | 维多利亚时代的单身妈妈</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/a5b81b936a3938a2da4c63a613d48ff9.jpg</string><key>intro</key><string>在不断消逝的黑暗的时光中&#13;
移动着比心脏中的血液 &#13;
更多的事物</string><key>share_image</key><string>http://mmmono.qiniudn.com/a5b81b936a3938a2da4c63a613d48ff9.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106476</integer><key>kind</key><integer>2</integer><key>share_text</key><string></string><key>title</key><string>《夜晚》</string><key>release_date</key><string>2016-05-21</string><key>sub_title</key><string>路易斯·博根</string><key>read_time</key><string>25分钟</string></dict><dict><key>push_msg</key><string>MONO早茶已准备好 | 分手、整容、冰淇淋，这十座“非主流”博物馆值得逛 | 这10部充满情怀的台湾文艺片 | 泰坦尼克号沉没事件，让一份报纸闻名于世界</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/31ad161581467158e4b315e2a337cbb5.jpg</string><key>intro</key><string>你变换这钥匙 你变换着词&#13;
一种随着飞雪的自由漂流&#13;
而什么样的雪球&#13;
将渗出词的四周&#13;
靠着这漠然拒绝你的风</string><key>share_image</key><string>http://mmmono.qiniudn.com/31ad161581467158e4b315e2a337cbb5.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106473</integer><key>kind</key><integer>0</integer><key>share_text</key><string></string><key>title</key><string>《带上一把可变的钥匙》</string><key>release_date</key><string>2016-05-21</string><key>sub_title</key><string>保罗·策兰</string><key>read_time</key><string>25分钟</string></dict><dict><key>push_msg</key><string>MONO下午茶已准备好 | 影史上最受欢迎的10件戏服 | 有人说，保罗麦卡特尼在1966年就死了 | 高考制度从来不公平，也无法再做社会公平的遮羞布</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/385d094e9955cd1ff2471a2afdd975ed.jpg</string><key>intro</key><string>杂草本不该生长&#13;
但还是会有一点&#13;
有的竟开出了一朵花&#13;
虽然，无人看见</string><key>share_image</key><string>http://mmmono.qiniudn.com/385d094e9955cd1ff2471a2afdd975ed.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106482</integer><key>kind</key><integer>2</integer><key>share_text</key><string></string><key>title</key><string>《质朴》</string><key>release_date</key><string>2016-05-20</string><key>sub_title</key><string>菲利普·拉金</string><key>read_time</key><string>25分钟</string></dict><dict><key>push_msg</key><string>MONO早茶已准备好 | 杀进戛纳的华语电影，你最喜欢哪一部？ | 吴念真： 如果不是写作我早自杀了 | 这群小青年儿想用“非法”读物颠覆世界？我看行</string><key>bg_img_url</key><string>http://mmmono.qiniudn.com/07cdfd7826d2ddc80e305738e5dfc43a.jpg</string><key>intro</key><string>昨夜，我们坐在一个粉红的池边&#13;
四周剪落的百合&#13;
闪亮的铬栏&#13;
汇合着星辉的指点</string><key>share_image</key><string>http://mmmono.qiniudn.com/07cdfd7826d2ddc80e305738e5dfc43a.jpg?imageMogr2/thumbnail/!150x150r/gravity/Center/crop/150x150</string><key>id</key><integer>106481</integer><key>kind</key><integer>0</integer><key>share_text</key><string></string><key>title</key><string>《我叔叔的单片眼镜》</string><key>release_date</key><string>2016-05-20</string><key>sub_title</key><string>华莱士·史蒂文斯</string><key>read_time</key><string>25分钟</string></dict></array></dict></plist>

